/*---------------------- 兼容START -----------------------*/
@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Microsoft YaHei";
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

img, input {
    border: none;
    font-size: 0;
    vertical-align: top;
}

select {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

.clearfix:after {
    content: "200B";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
}

/*兼容IE6/7*/
.clearfix:after {
    *zoom: 1;
}

/*---------------------- 兼容End -----------------------*/
h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#main {
    width: 80%;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 40px;
}

ul li {
    min-width: 280px;
    float: left;
    text-align: center;
    border: 1px solid skyblue;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.method-list ul li{
    padding: 0 10px;
    max-width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 5px;
    transition: background 0.33s;
}
.method-list ul li.active {
    background: #1a90eb;
    color: #fff;
}
.param-list ul li{
    text-align: left;
    padding: 0 0 0 5px;
}
.param-list ul li input {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding: 0 15px;
    text-align: center;
    margin: 4px 5px ;
    float: right;
    font-size: 14px;
    display: inline-block;
    outline: none;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.param-list ul li input:focus{
    border-color: lightcoral;
}
.btn-list{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.btn-list button{
    display: inline-block;
    outline: none;
    min-width: 100px;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: #fff;
    background: #1a90eb;
    margin: 5px;
}
button.pink {
    background: lightcoral;
}
button.green {
    background: lightseagreen;
}
.result-box{
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    min-height: 100px;
    margin: 10px;
}
.result{
    line-height: 30px;
    font-size: 16px;
    color: #1a90eb;
    text-align: center;
}
.result.active{
    color: lightcoral;
}
.chart{
    float: left;
    width: 50%;
    width:-moz-calc(50% - (25px));
    width:-webkit-calc(50% - (25px));
    width: calc(50% - (25px));
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .result-box{
        width: 98%;
        margin: 0 auto;
    }
    .chart{
        width: 98%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
    #main {
        width: 100%;
    }
    .param-list ul li{
        width:-moz-calc(90% - (10px));
        width:-webkit-calc(90% - (10px));
        width: calc(90% - (10px));
    }
    .param-list ul li input{
        width: 120px;
    }
    .method-list ul li{
        padding: 0;
        overflow: auto;
        height: auto;
    }
}
#fitness,#param{
    display: inline-block;
}