<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>遗传算法</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h1>遗传</h1>
    <div id="main">
        <div class="method-list">
            <h3>函数列表:</h3>
            <ul class="clearfix">
                <li :class="{active:item.isActive}" v-for="item in methodList" @click = 'getActiveMethod(item)'>{{item.name}}</li>
            </ul>
        </div>
        <div class="param-list">
            <h3>参数列表:</h3>
            <ul class="clearfix">
                <li v-for="item in paramList">{{item.name}}:
                    <input type="text"
                           v-model="item.value"
                        placeholder="请输入xxx参数">
                </li>
            </ul>
        </div>
        <div class="btn-list">
            <button @click = 'calculate'> 点击计算 </button>
            <button class="pink" @click = 'calculate'> 其他功能按钮 </button>
            <button class="green"  @click='calculate'> 其他功能按钮</button>
        </div>
        <div class="chart-list">
            <div class="chart">

            </div>
            <div class="chart">

            </div>
        </div>
    </div>
</body>
</html>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/echarts/dist/echarts.js"></script>
<script src="js/index.js"></script>